<%= render 'shared/errors', obj: @user %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="my-3">Sign up</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
