<p>Learning English?</p>
<p>This page uses a monolingual dictionary, and it allows you to store your own interpretations and translations for the words you look up.</p>
<p>Review your saved words</p>

<%= link_to "Login", login_path %>
<%= link_to "Sign up", signup_path %>
