<div class="container mt-5 p-5 bg-primary text-white rounded text-center">
  <h1 class="mb-5">Learning English?</h1>
  <p>This page uses a monolingual dictionary, and it allows you to store your own interpretations and translations for the words you look up.</p>
</div>
<div class="container mt-5 text-center">
  <p class="fs-4 fst-italic">Review your saved words</p>
  <p class="fs-4 fst-italic">Peek at other people's words</p>
  <p class="fs-4 fst-italic">More features comming</p>
</div>
